div{
width:900px;
height:100px;
background-color:grey;
border:solid;
border-color:black;
background-image:linear-gradient(red,yellow);
}
/*a
{

text-decoration:none;
font-size:20px;
color:white;
margin:60px 50px;
text-align:center;
}*/
p{

margin-top:35px;
}
/*#div2{
width:600px;
height:50px;
margin-left:30px;
background-image:linear-gradient(to bottom right,red,yellow);
opacity:0.6;
margin-top:10px;
}*/
/*#div1{

width:800px;
height:150px;
margin-top:20px;
background-image:url("/home/6CSE1/Desktop/index.jpeg");
size:10px;
background-repeat:repeat;
background-color:black;
}*/
image{
width:20px;
height:20px;
}
::selection{
color:red;
background:yellow;
}
/*p::after{
content:url("/home/6CSE1/Desktop/index.jpeg");
}*/
#grad1
{
background-image:radial-gradient(red,yellow,green);
width:100px;
height:100px;
background:red;
transition:width 2s,height 4s;
}
#grad1:hover
{
background-image:radial-gradient(red 5%,yellow 15%,green 60%);
width:1000px;
height:1000px;
}
#grad2
{
width:700px;
height:100px;
background-image:radial-gradient(red 5%,yellow 15%,green 60%);
}
#grad3
{
background-image:radial-gradient(circle,red,yellow,green);
}
#grad4
{
background-image:repeating-radial-gradient(red,yellow 10%,green 20%);
}
div.trasform{
width:100px;
height:100px;
background:red;
transition: width 2s,height 2s,transform 2s;
}
div.trasform:hover{
background-image:radial-gradient(circle,red,yellow,green);
width:100px;
height:100px;
transform:rotate(-1080deg);
}
@keyframes example{
from{background-color:red;}to{background-color:yellow;}
}
div.animations{
width:100px;
height:100px;
background-color:red;
animation-name:example;
animation-duration:4s;
}








